esphome:
  name: ha-prusa-enclosure
  friendly_name: ESP32-DISPLAY for Printer Enclosure
  name_add_mac_suffix: false

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: DEBUG

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_encryption_key
  on_client_connected:
    then:
      - lvgl.label.update:
          id: hastatus_lbl
          text: "\U000F05A9" # wifi
      # - lambda: |-
      #     // Publish the HA-backed sensor state into the LVGL text_sensor
      #     id(printer_status_lvgl).publish_state(id(printer_on).state);
  on_client_disconnected:
    then:
      - lvgl.label.update:
          id: hastatus_lbl
          text: "\U000F05AA" # wifi-off

ota:
  platform: esphome
  password: "8d1315b946c5951834947c7bf436c46f"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "ha-prusa-enclos Fallback Hotspot"
    password: !secret wifi_password

captive_portal:

font:
  - file: "gfonts://Roboto"
    id: roboto
    size: 16
    extras:
      - file: "materialdesignicons-webfont.ttf"
        glyphs:
          - "\U000F1800" # lightbulb-auto
          - "\U000F1801" # lightbulb-auto-outline
          - "\U000F0E4F" # lightbulb-off
          - "\U000F06E8" # lightbulb-on
          - "\U000F042B" # printer-3d
          - "\U000F0E5B" # printer-3d-nozzle
          - "\U000F18B8" # printer-3d-nozzle-heat
          - "\U000F11C0" # printer-3d-nozzle-alert
          - "\U000F1B0E" # printer-3d-off
          - "\U000F18F2" # refresh-auto
          - "\U000F05A9" # wifi
          - "\U000F05AA" # wifi-off

# SPI bus for display
spi:
  - id: hspi # USE_HSPI_PORT
    clk_pin: GPIO14
    mosi_pin: GPIO13
    miso_pin:
      number: GPIO12
      ignore_strapping_warning: true
  - id: vspi # USE_VSPI_PORT
    clk_pin: GPIO25
    mosi_pin: GPIO32
    miso_pin: GPIO39

display:
  - platform: mipi_spi
    id: spi_display
    model: st7789v
    spi_id: hspi
    dc_pin:
      number: GPIO2
      ignore_strapping_warning: true
    cs_pin:
      number: GPIO15
      ignore_strapping_warning: true
    rotation: 90
    invert_colors: false
    color_order: bgr
    enable_pin: GPIO21
    auto_clear_enabled: false
    update_interval: never

# output:
#   - platform: ledc
#     id: backlight_output
#     pin: GPIO21

# light:
#   - platform: monochromatic
#     id: display_backlight
#     name: "TFT Backlight"
#     output: backlight_output
#     default_transition_length: 0s

output:
  - platform: ledc
    pin: GPIO4
    id: red_led
    inverted: true
  - platform: ledc
    pin: GPIO16
    id: green_led
    inverted: true
  - platform: ledc
    pin: GPIO17
    id: blue_led
    inverted: true

light:
  - platform: rgb
    id: tri_led
    name: "Tri Color LED"
    red: red_led
    green: green_led
    blue: blue_led

touchscreen:
  - platform: xpt2046
    id: spi_touchscreen
    spi_id: vspi
    display: spi_display
    cs_pin: GPIO33
    interrupt_pin: GPIO36
    calibration:
      x_min: 281
      x_max: 3768
      y_min: 197
      y_max: 3839
    transform:
      mirror_x: false
      mirror_y: false
      swap_xy: true

lvgl:
  default_font: roboto

  pages:
    - layout: # vertical+
        type: flex
        flex_flow: LV_FLEX_FLOW_COLUMN
        flex_align_main: LV_FLEX_ALIGN_SPACE_EVENLY
        flex_align_track: LV_FLEX_ALIGN_CENTER
        flex_align_cross: LV_FLEX_ALIGN_STRETCH
        flex_grow: 1
        pad_row: 0
      widgets:
        - obj:
            max_height: 30
            text_color: 0xFFFFFF
            bg_color: 0x2F8CD8
            bg_grad_color: 0x005782
            bg_grad_dir: VER
            bg_opa: COVER
            border_opa: TRANSP
            border_color: 0x0077b3
            radius: 0
            pad_all: 0
            widgets:
              - label:
                  align: CENTER
                  text: "Printer Enclosure Control"
              - label:
                  align: LEFT_MID
                  text: "\U000F042B" # printer-3d
                  x: 4
              - label:
                  id: hastatus_lbl
                  align: RIGHT_MID
                  text: "\U000F05A9" # wifi
                  x: -4
        - container:
            layout: horizontal
            widgets:
              - obj:
                  layout: vertical
                  widgets:
                    - label:
                        text: "Light Status:"
                    - label:
                        id: light_status_label
                        text: "\U000F18F2 Unknown"
                    - label:
                        text: "Printer Status:"
                    - label:
                        id: printer_status_label
                        text: "\U000F18F2 Unknown"
              - buttonmatrix:
                  id: btnmatrix
                  one_checked: true
                  rows:
                    - buttons:
                      - id: off_button
                        text: "\U000F0E4F Off" # lightbulb-off
                        control:
                          checkable: true
                    - buttons:
                      - id: auto_button
                        text: "\U000F1800 Auto" # lightbulb-auto
                        control:
                          checkable: true
                    - buttons:
                      - id: on_button
                        text: "\U000F06E8 On" # lightbulb-on
                        control:
                          checkable: true
                  on_press:
                    then:
                      - select.set_index:
                          id: light_state
                          index: !lambda 'return x;'
                      # - script.execute: update_relay_logic
  on_boot:
    then:
      - logger.log: "LVGL on_boot triggered"
      - logger.log:
          format: "Boot: printer_on state: %s"
          args: [id(printer_on).state]
          level: DEBUG
      - logger.log:
          format: "Boot: printer_status_lvgl state: %s"
          args: [id(printer_status_lvgl).state]
          level: DEBUG

text_sensor:
  - platform: homeassistant
    id: printer_on
    entity_id: sensor.prusa_mk4
    on_value:
      - logger.log:
          format: "printer_on state changed to: %s"
          args: [x]
          level: DEBUG
  - platform: lvgl
    widget: printer_status_label
    id: printer_status_lvgl
    internal: true
    on_value:
      - logger.log:
          format: "printer_status_lvgl state changed to: %s"
          args: [x]
          level: DEBUG

select:
  - platform: template
    id: light_state
    icon: "mdi:lightbulb-on"
    options:
      - "Off"
      - "Auto"
      - "On"
    restore_value: true
    optimistic: true

# script:
#   - id: update_relay_logic
#     then:
#       - lambda: |-
